<div nz-row>
    <div nz-col nzSpan="12" nzOffset="6">
        <nz-card  class="card">
            <div class="headerbutton">
                <h4 class="mt-7">HIPAA</h4> 
                    <span class="buttons">
                        <button nz-button nzType="primary" [nzSize]="size" nzShape="round" (click)="addHppa(true)">
                            <i nz-icon nzType="plus" nzTheme="outline"></i>
                          </button>
                    </span>
            </div>
            <nz-table #basicTable [nzData]="data" class="table"> 
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>UserName</th>
                    <th>Attach/View</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let data of basicTable.data; let i = index">
                    <td>{{ data.name }}</td>
                    <td>{{ data.username }}</td>
                    <td>  
                      <i nz-icon nzType="upload" nzTheme="outline" class="cursor"></i>
                      <nz-divider nzType="vertical"></nz-divider>
                      <i nz-icon nzType="eye" nzTheme="outline" class="cursor"></i>
                    </td>
                    <td>  
                      <a (click)="Edit(data)">Edit</a>
                      <nz-divider nzType="vertical"></nz-divider>
                      <a (click)="delete(i)">Delete</a>
                    </td>
                  </tr>
                </tbody>
              </nz-table>
        </nz-card>
    </div>
</div>
<app-add-patient-consents [addNewConsents]="isPatientConsents" [EditConsents]="editPatientConsents" (PatientConsents)="addHppa($event)" (newPatient)="addNewPatient($event)" (updatePatient)="updatePatient($event)"></app-add-patient-consents>