<div nz-row>
    <div nz-col nzSpan="12" nzOffset="6">
        <nz-card  style="margin-top: 75px;">
            <div class="headerbutton">
                <h4 class="mt-7">HPPA</h4> 
                    <span class="buttons">
                        <button nz-button nzType="primary" [nzSize]="size" nzShape="round">
                            <i nz-icon nzType="plus" nzTheme="outline"></i>
                          </button>
                    </span>
            </div>
            <nz-table #basicTable [nzData]="data"> 
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>UserName</th>
                    <th>Email</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let data of basicTable.data">
                    <td>{{ data.name }}</td>
                    <td>{{ data.username }}</td>
                    <td>{{ data.email }}</td>
                    <td>  
                      <a>Edit</a>
                      <nz-divider nzType="vertical"></nz-divider>
                      <a>Delete</a>
                    </td>
                  </tr>
                </tbody>
              </nz-table>
        </nz-card>
    </div>
</div>
